.containerProyectos{
 background-color: black;
 width: 200px;
 height: 200px;
}

@media (max-width: 480px) {
    .container-imagenes{
        border-radius: 100px;
    }
    .containerProyectos{

        border: 10px;
    }
}