.carrusel1 {
  
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente al centro */
    text-align: center;
    
  }
 
  
  h1 {
    text-align: center;
  }
  
  /* Media query para tamaños de pantalla más pequeños, como tabletas y dispositivos móviles */
  @media (max-width: 768px) {
    .carrusel1, h1 {
      text-align: center; /* Alinea al centro en dispositivos móviles */
      
    }
  }

  

    @media (max-width: 480px) {
      .carrsule1{
          background-color: rgba(0,0,0,0.5);
          height: 40vh;
          border-radius: 30px 80px ;
      }
  }
  